button.btn.btn-primary {
  background-color: #363f88;
}

button.btn-outline-primary {
  color: #363f88;
  border-color: #363f88;
}

.btn-primary.active {
  color: #fff;
  background-color: #363f88;
  border-color: #363f88;
}